/*Panes*/
#rootPane {
    -fx-background-color: #a0ffab;
}

#topPane {
    -fx-background-color: rgba(157, 255, 79, 0.7);
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 20px;
}

#middlePane {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-max-width: infinity;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 20px;
    -fx-spacing: 30px;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 15, 0.5, 5, 10);*/
}

#savePane {
    -fx-background-color: transparant;
}

#buttonPane {
    -fx-background-color: transparant;
    -fx-alignment: center;
}

/*Labels*/
#label {
    -fx-font-size: 31px;
    -fx-text-fill: black;
}

#successLabel {
    -fx-text-fill: green; -fx-font-size: 14px;
}

/*Buttons*/
#saveButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
}

#saveButton:hover {
    -fx-background-color: #dad670;
}

#backButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
}

#backButton:hover {
    -fx-background-color: #dad670;
}

#listButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
}

#listButton:hover {
    -fx-background-color: #dad670;
}