@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Panes*/
#rootPane {
}

#topPane {
    -fx-background-color: rgba(157, 255, 79, 0.7);
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 20px;
}

#leftPane {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-max-width: infinity;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 20px;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 15, 0.5, 5, 10);*/
}

#rightPane {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-max-width: infinity;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 20px;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 15, 0.5, 5, 10);*/
}

#bottomPane {
    -fx-background-color: transparant;
    -fx-alignment: center;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}

/*Labels*/
#topLabel {
    -fx-font-size: 40px;
    -fx-text-fill: black;
}

#leftLabel {
    -fx-wrap-text: true;
    -fx-font-size: 25px;
    -fx-text-alignment: center;
    -fx-font-family: "Montserrat", serif;
}

/*Buttons*/
#leftButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
}

#leftButton:hover {
    -fx-background-color: #45a049;
}

#rightButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
}

#rightButton:hover {
    -fx-background-color: #45a049;
}

#bottomButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
}

#bottomButton:hover {
    -fx-background-color: #45a049;
}