#rootPane {
    -fx-background-color: lightblue;
}

#topPane {
    -fx-background-color: red;
    /*-fx-alignment: center;*/
    /*-fx-max-width: infinity;*/
}

#listPane {
    -fx-background-color: blue;
    -fx-spacing: 30px;
}

#buttonPane {
    -fx-background-color: green;
}