
#rootPane {
    -fx-background-color: lightblue;
}

#loginPane {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

#textPane {
    -fx-background-color: yellow;
    -fx-alignment: center;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}